extends layout
block content
    #wrapper
        include header
        #page-wrapper
            .container-fluid
                .row
                    .col-lg-12
                        h1.page-header User feedbacks
                .row
                    .col-lg-12
                        table.table.table-striped.table-hover
                            thead
                                tr
                                    th Name
                                    th Email
                                    th Options
                                    th Satisfaction Level
                                    th Feedback Date
                            tbody
                            each result in feedbacks
                                tr.trLink
                                    td #{result.firstName} #{result.lastName}
                                    td #{result.email}
                                    td #{result.options}
                                    td #{result.satisfaction_level}
                                    td #{result.feedback_date}
                                    td
    include footer